# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/https://terrariaisgreat.com/10.html
https://mountain658.pages.dev/?vercel
# Other files and folders
.settings/
https://effectdog.me/
# Executables
*.swf
*.air
*.ipa
*.apk
https://sites.google.com/view/castle-railroad/gmes
# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
